[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
"backports.zoneinfo" = "==0.2.1"
django = "==4.2.8"
sqlparse = "==0.4.4"
typing-extensions = "==4.8.0"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "2.7"
